<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table class="trips-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Destination</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Minimum person</th>
      <th>Maximum person</th>
      <th>Booking deadline</th>
      <th>Is recurring schedule</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
       <td>
          <% if trip.image.present? %>
            <%= image_tag trip.image.url, class: "trip-thumbnail" %>
          <% else %>
            <span class="no-image">No Image</span>
          <% end %>
        </td>
        <td><%= trip.destination %></td>
        <td><%= format_datetime(trip.start_time) %></td>
        <td><%= format_datetime(trip.end_time) %></td>
        <% if current_user&.is_travel_agent? %>
          <td><%= trip.minimum_persons %></td>
          <td><%= trip.maximum_persons %></td>
        <% end %>
        <td><%= format_datetime(trip.booking_deadline) %></td>
        <td><%= trip.is_recurring_schedule ? 'Yes' : 'No' %></td>
        <td><%= trip.status %></td>
        <td><%= link_to 'Show', trip %></td>
        <% if current_user&.is_travel_agent? %>
          <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
          <td><%= button_to 'Delete', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user&.is_travel_agent? %>
  <%= link_to 'New Trip', new_trip_path, class: "button-primary" %>
  <%= link_to 'Back to Open Trips', open_trips_path, class: "button-secondary" %>
<% end %>
<%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-delete" %>
