<h1>MyTrips</h1>
<% if @my_trips.any? %>
  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Meeting Point</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @my_trips.each do |my_trip| %>
        <tr>
          <td><%= my_trip.trip.destination %></td>
          <td><%= my_trip.trip.start_time.strftime("%b %d, %Y %H:%M") %></td>
          <td><%= my_trip.trip.end_time.strftime("%b %d, %Y %H:%M") %></td>
          <td><%= my_trip.trip.meeting_point %></td>
          <td><%= link_to 'View Trip', trip_path(my_trip.trip) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have not booked any trips yet.</p>
<% end %>
<%= link_to 'Back to Available Trips', open_trips_path %>