<p id="notice"><%= notice %></p>
<% if flash[:success] %>
  <p style="color: green; font-weight: bold;"><%= flash[:success] %></p>
<% end %>
<h1><%= @trip.destination %></h1>

<p>
  <strong>Start time:</strong>
  <%= format_datetime(@trip.start_time)   %>
</p>

<p>
  <strong>End time:</strong>
  <%= format_datetime(@trip.end_time)  %>
</p>
<% if current_user&.is_travel_agent? %>
<p>
  <strong>Minimum person:</strong>
  <%= @trip.minimum_persons %>
</p>

<p>
  <strong>Maximum person:</strong>
  <%= @trip.maximum_persons %>
</p>
<% end %>
<p>
  <strong>Meeting point:</strong>
  <%= @trip.meeting_point %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@trip.price) %>
</p>

<p>
  <strong>Last booking time:</strong>
  <%= format_datetime(@trip.booking_deadline)  %>
</p>

<% if current_user&.is_travel_agent? %>
  <p>
    <strong>Is recurring schedule:</strong>
    <%= @trip.is_recurring_schedule %>
  </p>
<% end %>

<% if current_user&.is_travel_agent? %>
  <%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>

<% if current_user&.is_traveler? %>
  <% if @booked_trip.present? %>

    <% if @booked_trip.paid? %>
      <div>
        <span class="badge-paid">✅ Paid</span>
      </div>
    <% elsif @booked_trip.payment_failed? %>
      <span class="badge-failed">❌ Payment Failed</span>
    <% else %>
      <span class="badge-pending">Pending payment</span>
      <br>
      <%= link_to "Checkout & Pay", new_payment_path(booked_trip_id: @booked_trip.id), class: "button" %>
    <% end %>

  <% elsif @trip.open_for_booking? %>
    <%= button_to 'Book this Trip', trip_booked_trips_path(@trip), params: { trip_id: @trip.id }, method: :post %>
  <% else %>
    <p><strong>Booking Closed</strong></p> |
  <% end %>
<% end %>

<% if current_user&.is_travel_agent? %>
  <%= link_to 'Back to Trips', trips_path %>
  <%= link_to 'Open Trips', open_trips_path %>
<% elsif current_user&.is_traveler? %>
  <%= link_to "My Trips", my_trips_path, class: "button-secondary" %>
  <%= link_to 'Back to Available Trips', open_trips_path %>
<% end %>
