<h1>Welcome to Flip the Trip travel app </h1>
<p>Flip your plans, find your adventure.</p>
<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <%= link_to "Sign out", destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "sign-out-link" %>
<% else %>
  <p>Join the adventure:</p>
  <%= link_to 'Become a traveler', new_user_registration_path(type: 'traveler') %> |
  <%= link_to 'Become a travel agent', new_user_registration_path(type: 'travel_agent') %><br>
  <%= link_to "Login", new_user_session_path %> |
<% end %>