<h1>Open Trips</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
    <%= value %>
  </div>
<% end %>

<%= form_with url: open_trips_path, method: :get, local: true do |f| %>
  <%= f.label :q, "Search by destination:" %>
  <%= f.text_field :q, value: params[:q] %>
  <%= f.submit "Search" %>
<% end %>

<% if @trips.any? %>
  <ul>
    <% @trips.each do |trip| %>
      <li>
        <%= link_to trip.destination, trip_path(trip) %>
        - <%= trip.meeting_point %>
        - <%= trip.start_time.strftime("%b %d, %Y %H:%M") %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No trips found matching your search.</p>
<% end %>
<%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %>