<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Flip the Joy Ruby Travel App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app-layout">
    <header class="main-header">
      <div class="header-content">
        <%= link_to "Flip the Joy", root_path, class: "logo" %>
        <nav class="nav-links">
        <!-- Menu links -->
          <% if user_signed_in? %>
            <%= link_to 'My Trips', my_trips_path %>
            <%= link_to current_user&.is_travel_agent? ? 'Open Trips' : 'Available Trips', open_trips_path %>
            <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-delete" %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: "button-secondary" %>
          <% end %>
        </nav>
      </div>
    </header>
    <main class="page-content">
      <% flash.each do |key, message| %>
        <div class="flash <%= flash_class(key) %>">
          <%= message %>
        </div>
      <% end %>


      <%= yield %>
    </main>

    <footer class="main-footer">
      <div class="footer-content">
        <p>&copy; 2024 Flip the Trip. Flip your plans, find your adventure.</p>
      </div>
    </footer>
  </body>
</html>
